// Begin footer
.container-fluid.brandBlueishBack.text-light.py-5
    .row.justify-content-center.text-center
        .col-8.py-2
            h1.pb-3 Register and Get Started Today
            button.btn.btn-warning(type='button')  Register Now     
footer
  nav.navbar.navbar-expand-lg.bg-body-tertiary.border.border-warning.fw-bold.fs-3.py-0
    .container-fluid
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav.me-4.ms-auto
          a.nav-link.mx-2.brandFontBlue(aria-current='page' href='#') Home
          a.nav-link.mx-2.brandFontBlue(href='#') Features
          a.nav-link.mx-2.brandFontBlue(href='#') Pricing
          a.nav-link.mx-2.brandFontBlue(href='#') Disabled
  nav.navbar.navbar-expand-lg.bg-body-tertiary.border.border-warning.py-0
    .container-fluid
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav.me-4.ms-auto
          a.nav-link.mx-2(aria-current='page' href='#') Privacy Policy
          a.nav-link.mx-2(href='#') Contact
          a.nav-link.mx-2(href='#') HIPPA Compliance
          a.nav-link.mx-2(href='#') Something...
// End Footer